[submodule "silver-blockchain-gui"]
	path = silver-blockchain-gui
	url = https://github.com/Silver-Chain/silver-blockchain/silver-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "silver-blockchain-gui"]
	path = silver-blockchain-gui
	url = https://github.com/Silver-Chain/silver-blockchain/silver-blockchain-gui
